<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">

	<!--  -->
	<define name="logDirectory" class="org.zephyrsoft.sdb2.LogDirectoryDefiner" />

	<!-- output to console -->
	<appender name="RootConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>trace</level>
		</filter>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss}, %p, %c, %t: %m%n</pattern>
		</encoder>
	</appender>

	<!-- output to rotated files -->
	<appender name="RootFileAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logDirectory}/sdb.log</file>
		<append>true</append>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>debug</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${logDirectory}/sdb.%i</fileNamePattern>
			<maxIndex>5</maxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>1000000</maxFileSize>
		</triggeringPolicy>

		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss}, %p, %c, %t: %m%n</pattern>
		</encoder>
	</appender>

	<!-- basic configuration -->
	<root>
		<level value="trace" />
		<appender-ref ref="RootFileAppender" />
		<appender-ref ref="RootConsoleAppender" />
	</root>

</configuration>
