<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>

	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p [%t] %c - %m%n" />
		</Console>
		
		<RollingFile name="FILE"
			fileName="${user.home}/.songdatabase/log/sdb.log"
			filePattern="${user.home}/.songdatabase/log/sdb.%i.log">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p [%t] %c - %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
	</Appenders>

	<Loggers>
		<Logger name="org.springframework" level="WARN" />
	
		<Root level="debug">
			<AppenderRef ref="FILE" />
			<AppenderRef ref="CONSOLE" />
		</Root>
	</Loggers>

</Configuration>
