<configuration>

	<!-- fetch log directories which can be set via command line options -->
	<define name="baseDirectory" class="org.zephyrsoft.sdb2.util.LogbackBaseDirectoryProvider" />
	<define name="rolloverDirectory" class="org.zephyrsoft.sdb2.util.LogbackRolloverDirectoryProvider" />

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- if <file> is omitted here, the currently active log file will also be in the rolloverDirectory and
		     have a date in its name as defined in <fileNamePattern> below -->
		<file>${baseDirectory}/sdb.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${rolloverDirectory}/sdb.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>60</maxHistory>
			<totalSizeCap>3GB</totalSizeCap>
		</rollingPolicy>

		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework" level="WARN" />
	<logger name="org.apache.poi" level="WARN" />
	<logger name="net.fortuna.ical4j" level="WARN" />

	<root level="DEBUG">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
